*.pyc
example/.ipynb_checkpoints/
neighborsMinHash.egg-info/
neighborsMinHash/__init__.pyc
neighborsMinHash/clustering/__init__.pyc
neighborsMinHash/clustering/minHashSpectralClustering.pyc
neighborsMinHash/computation/__init__.pyc
neighborsMinHash/neighbors/__init__.pyc
neighborsMinHash/neighbors/minHash.pyc
neighborsMinHash/neighbors/minHashClassifier.pyc
neighborsMinHash/util/__init__.pyc
neighborsMinHash/util/util.pyc
_minHash.so
build/
.idea/
README.md~
bursiDataset
clustering.py
development/_convertDataToCpp.so
development/convertDataToCpp.egg-info/
development/fit_kneighbors
development/util/bursi_addInfo
development/util/bursi_data
development/util/bursi_features
development/util/bursi_instances
development/util/convertDataToCpp.cpp~
development/util/fit_kneighbors
developmentScript.pyc
developmentScript2.py
developmentScript3.py
example/minHash.prof
init_values

max_value_init
neighborsMinHash/clustering/minHashClustering.pyc
neighborsMinHash/clustering/minHashDBSCAN.pyc
neighborsMinHash/computation/CMakeCache.txt
neighborsMinHash/computation/CMakeFiles/
neighborsMinHash/computation/Makefile
neighborsMinHash/computation/bursi_addInfo
neighborsMinHash/computation/bursi_data
neighborsMinHash/computation/bursi_features
neighborsMinHash/computation/bursi_instances
neighborsMinHash/computation/cmake_install.cmake
neighborsMinHash/computation/compile~
neighborsMinHash/computation/fit_kneighbors
neighborsMinHash/computation/joachim@pc4
neighbors_sklearn
playground.cpp
prune_index_frequencey+0
prune_index_frequencey+1
prune_index_frequencey+2
result/
size_of_hash_function_pruned+0
size_of_hash_function_pruned+2
size_of_hash_functions
size_of_hash_functions_init
test.py
test/CMakeCache.txt
test/CMakeFiles/
test/Makefile
test/cmake_install.cmake
test/runTests
test1
valgrind-python.supp
valgrind-python.supp~

bioinf_learn/__init__.pyc
bioinf_learn/cluster/__init__.pyc
bioinf_learn/cluster/minHashClustering.pyc
bioinf_learn/cluster/minHashDBSCAN.pyc
bioinf_learn/cluster/minHashSpectralClustering.pyc
bioinf_learn/computation/CMakeCache.txt
bioinf_learn/computation/CMakeFiles/2.8.12.2/CMakeCCompiler.cmake
bioinf_learn/computation/CMakeFiles/2.8.12.2/CMakeCXXCompiler.cmake
bioinf_learn/computation/CMakeFiles/2.8.12.2/CMakeDetermineCompilerABI_C.bin
bioinf_learn/computation/CMakeFiles/2.8.12.2/CMakeDetermineCompilerABI_CXX.bin
bioinf_learn/computation/CMakeFiles/2.8.12.2/CMakeSystem.cmake
bioinf_learn/computation/CMakeFiles/2.8.12.2/CompilerIdC/CMakeCCompilerId.c
bioinf_learn/computation/CMakeFiles/2.8.12.2/CompilerIdC/a.out
bioinf_learn/computation/CMakeFiles/2.8.12.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
bioinf_learn/computation/CMakeFiles/2.8.12.2/CompilerIdCXX/a.out
bioinf_learn/computation/CMakeFiles/CMakeDirectoryInformation.cmake
bioinf_learn/computation/CMakeFiles/CMakeOutput.log
bioinf_learn/computation/CMakeFiles/Makefile.cmake
bioinf_learn/computation/CMakeFiles/Makefile2
bioinf_learn/computation/CMakeFiles/TargetDirectories.txt
bioinf_learn/computation/CMakeFiles/cmake.check_cache
bioinf_learn/computation/CMakeFiles/fit_kneighbors.dir/CXX.includecache
bioinf_learn/computation/CMakeFiles/fit_kneighbors.dir/DependInfo.cmake
bioinf_learn/computation/CMakeFiles/fit_kneighbors.dir/bloomierFilter/bloomierFilter.cpp.o
bioinf_learn/computation/CMakeFiles/fit_kneighbors.dir/bloomierFilter/bloomierHash.cpp.o
bioinf_learn/computation/CMakeFiles/fit_kneighbors.dir/bloomierFilter/encoder.cpp.o
bioinf_learn/computation/CMakeFiles/fit_kneighbors.dir/bloomierFilter/orderAndMatchFinder.cpp.o
bioinf_learn/computation/CMakeFiles/fit_kneighbors.dir/build.make
bioinf_learn/computation/CMakeFiles/fit_kneighbors.dir/cmake_clean.cmake
bioinf_learn/computation/CMakeFiles/fit_kneighbors.dir/depend.internal
bioinf_learn/computation/CMakeFiles/fit_kneighbors.dir/depend.make
bioinf_learn/computation/CMakeFiles/fit_kneighbors.dir/fit_kneighbors.cpp.o
bioinf_learn/computation/CMakeFiles/fit_kneighbors.dir/flags.make
bioinf_learn/computation/CMakeFiles/fit_kneighbors.dir/inverseIndex.cpp.o
bioinf_learn/computation/CMakeFiles/fit_kneighbors.dir/inverseIndexStorageBloomierFilter.cpp.o
bioinf_learn/computation/CMakeFiles/fit_kneighbors.dir/inverseIndexStorageUnorderedMap.cpp.o
bioinf_learn/computation/CMakeFiles/fit_kneighbors.dir/link.txt
bioinf_learn/computation/CMakeFiles/fit_kneighbors.dir/minHash.cpp.o
bioinf_learn/computation/CMakeFiles/fit_kneighbors.dir/minHashBase.cpp.o
bioinf_learn/computation/CMakeFiles/fit_kneighbors.dir/progress.make
bioinf_learn/computation/CMakeFiles/progress.marks
bioinf_learn/computation/CMakeLists.txt
bioinf_learn/computation/Makefile
bioinf_learn/computation/bursi_addInfo
bioinf_learn/computation/bursi_data
bioinf_learn/computation/bursi_features
bioinf_learn/computation/bursi_instances
bioinf_learn/computation/cmake_install.cmake
bioinf_learn/computation/compile~
bioinf_learn/computation/fit_kneighbors
bioinf_learn/neighbors/__init__.pyc
bioinf_learn/neighbors/minHash.pyc
bioinf_learn/neighbors/minHashClassifier.pyc
bioinf_learn/neighbors/nearestNeighborsCppInterface.pyc
bioinf_learn/neighbors/wtaHash.pyc
bioinf_learn/neighbors/wtaHashClassifier.pyc
bioinf_learn/util/__init__.pyc
bioinf_learn/util/util.pyc
